{deps, [
        {ebus, ".*", {git, "https://github.com/helium/ebus", {branch, "madninja/specs"}}},
        {lager, "3.6.5"}
       ]}.

{erl_opts, [
            {parse_transform, lager_transform},
            debug_info,
            warnings_as_errors
           ]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [lager, gatt]}
]}.
